.wrapper {
  max-width: 100%;
  margin: 1.5em;
  flex: 1;
}


/* Commented out until I figure out how to make this more useful.
.wrapper {
  max-width: $extraLargeDesktop;
  height: 100%;
  margin: 2em 2em 2em 2em;
  flex: 1;
}

@media #{$desktopLG} {
  .wrapper {
    max-width: $medLargeDesktop;
  }
}

@media #{$desktopM} {
  .wrapper {
    max-width: $medDesktop;
  }
}

@media #{$tabletAll} {
  .wrapper {
    max-width: $tablet;
  }
}

@media #{$mobileAll} {
  .wrapper {
    width: 100%;
    margin: 2em 0 0 0;
  }
}
*/