%footer {
  padding: 1em;
  margin-bottom: 0;
  background-color: $offWhite;
  color: $offBlack;

}

.footer {
  @extend %footer;
  border-top: $offWhiteBorder
}

.footer-dark {
  @extend %footer;
  background-color: $offBlack;
  color: white;
  border-top: $offBlackBorder;
  
}