.fixed-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  max-width: 100%;
  min-width: 100%;
}

%nav {
  max-width: 100%;
  min-width: 100%;

  * {
    margin: .5em .25em .25em .25em;
  }

  a, p {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.nav {
  @extend %nav;
  @include colorScheme($offWhite, $offBlack);
  border-bottom: $offWhiteBorder;
}

.nav-dark {
  @extend %nav;
  @include colorScheme($offBlack, $offWhite);
  border-bottom: $offBlackBorder;
}

