@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin colorScheme($backgroundColor, $color) {
  background-color: $backgroundColor;
  color: $color;
  a, p {
    color: $color;
  }
  a:visited {
    color: $sharpBlue;

  }
}